body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
}


.card text-center{
	text-align: center;
}

.imagecircle{
	border-radius: 50%;
}

.Titles{
	color: #C04B76;
}

.Experience{
	font-weight: bold;
}

.Education{
	font-weight: bold;
}


.Portfolio{
	color: white;
	font-size: 20px;
}

.nav-link{
	color: white;
	
}

.card {
  border-color: #ccc;
}

.card-block{
  float: right;
}